@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    display: flex;
    position: relative;
}

nav .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0;
}

nav .sidebar h1{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

nav .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,255,0.05);
}

nav .sidebar ul li a{
    color: #bdb8d7;
    display: block;
}

nav .sidebar ul li a.fas{
    width: 25px;
}

nav .sidebar ul li:hover{
    background: #594f8d;
}

nav .sidebar ul li:hover a{
    color: #fff;
}

nav .sidebar ul li.active a{
    color: #fff;
}

.one {
    position: relative;
}

.one::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.3s;
}

.one::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.3s;
}

.one:hover::after,
.one:hover::before {
    width: 100%;
}

main {
    width: 100%;
    margin-left: 200px;
}

main .introduction img {
    width: 100%;
    position: relative;
}

main .introduction h2 {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 25%;
    height: 9%;
    top: 9%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-color: #4b4276;
    color: #fff;
}

main .introduction p {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 40%;
    height: 25%;
    top: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    background-color: #4b4276;
    color: #fff;
}

main .introduction p.ett {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 40%;
    height: 10%;
    top: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .introduction iframe {
    display: flex;
    position: absolute;
    margin-left: 900px;
    width: 40%;
    height: 50%;
    top: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    background-color: #4b4276;
    color: #fff;
}

main .Geography {
    width: 100%;
    height: 1200px;
    position: relative;
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}

main .Geography img {
    display: flex;
    position: absolute;
    width: 25%;
    height: 30%;
    margin-left: 1000px;
    top: 9%;
    border: 10px solid #fff;
}

main .Geography img.ata {
    display: flex;
    position: absolute;
    width: 20%;
    height: 30%;
    margin-left: 180px;
    top: 42%;
    border: 10px solid #fff;
}

main .Geography h2 {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 40%;
    height: 9%;
    top: 9%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-color: #4b4276;
    color: #fff;
}

main .Geography p {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 40%;
    height: 15%;
    top: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    background-color: #4b4276;
    color: #fff;
}

main .Geography p.ett {
    display: flex;
    position: absolute;
    margin-left: 850px;
    width: 40%;
    height: 25%;
    top: 45%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    background-color: #4b4276;
    color: #fff;
}

main .Geography p.två {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 40%;
    height: 20%;
    top: 75%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    background-color: #4b4276;
    color: #fff;
}

main .Attractions {
    width: 100%;
    height: 1000px;
    position: relative;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

main .Attractions h2 {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 25%;
    height: 9%;
    top: 3%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-color: #4b4276;
    color: #fff;
}

main .Attractions img {
    display: flex;
    position: absolute;
    width: 25%;
    height: 30%;
    margin-left: 50px;
    top: 15%;
    border: 10px solid #fff;
}

main .Attractions p {
    display: flex;
    position: absolute;
    margin-left: 10px;
    width: 40%;
    height: 15%;
    top: 46%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    background-color: #4b4276;
    color: #fff;
}

main .Attractions img.Meiji {
    display: flex;
    position: absolute;
    width: 30%;
    height: 36%;
    margin-left: 1000px;
    top: 5%;
    border: 10px solid #fff;
}

main .Attractions p.ett {
    display: flex;
    position: absolute;
    margin-left: 1000px;
    width: 30%;
    height: 30%;
    top: 45%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    background-color: #4b4276;
    color: #fff;
}

main .Attractions img.Tower {
    display: flex;
    position: absolute;
    width: 20%;
    height: 30%;
    margin-left: 50px;
    top: 69%;
    border: 10px solid #fff;
}

main .Attractions p.två {
    display: flex;
    position: absolute;
    margin-left: 40d0px;
    width: 40%;
    height: 27%;
    top: 73%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    background-color: #4b4276;
    color: #fff;
}

main .Hotels img {
    width: 100%;
    position: relative;
}

main .Hotels h2 {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 9%;
    height: 10%;
    top: 9%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    background-color: #4b4276;
    color: #fff;
}

main .Hotels p {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 30%;
    height: 10%;
    top: 22%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Hotels p.ett {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 30%;
    height: 20%;
    top: 37%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Hotels p.två {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 30%;
    height: 20%;
    top: 65%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Arcades {
    width: 100%;
    height: 1000px;
    position: relative;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,26,1) 100%, rgba(0,212,255,1) 100%);
}

main .Arcades h2 {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 20%;
    height: 9%;
    top: 9%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-color: #4b4276;
    color: #fff;
}

main .Arcades p {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 40%;
    height: 15%;
    top: 21%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Arcades img {
    display: flex;
    position: absolute;
    width: 30%;
    height: 40%;
    margin-left: 50px;
    top: 38%;
    border: 10px solid black;
}

main .Arcades p.två {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 40%;
    height: 15%;
    top: 81%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Arcades img.arc2 {
    display: flex;
    position: absolute;
    width: 30%;
    height: 50%;
    margin-left: 900px;
    top: 5%;
    border: 10px solid black;
}

main .Arcades p.tre {
    display: flex;
    position: absolute;
    margin-left: 800px;
    width: 40%;
    height: 15%;
    top: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Anime h2{
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 15%;
    height: 9%;
    top: 9%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-color: #4b4276;
    color: #fff;
}

main .Anime p {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 28%;
    height: 10%;
    top: 22%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Anime p.ett {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 30%;
    height: 17%;
    top: 37%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Anime p.två {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 30%;
    height: 15%;
    top: 58%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Shopping {
    width: 100%;
    height: 1000px;
    position: relative;
    background: linear-gradient(110deg, #3f3e3e 60%, #3c81af 60%);
}

main .Shopping h2 {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 20%;
    height: 9%;
    top: 9%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-color: #4b4276;
    color: #fff;
}

main .Shopping p {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 35%;
    height: 15%;
    top: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Shopping img {
    display: flex;
    position: absolute;
    width: 25%;
    height: 30%;
    margin-left: 140px;
    top: 35%;
    border: 10px solid #fff;
}

main .Shopping img.ginza {
    display: flex;
    position: absolute;
    width: 25%;
    height: 30%;
    margin-left: 1000px;
    top: 4%;
    border: 10px solid #fff;
}

main .Shopping img.Nihonbashi {
    display: flex;
    position: absolute;
    width: 25%;
    height: 30%;
    margin-left: 1000px;
    top: 50%;
    border: 10px solid #fff;
}

main .Shopping p.två {
    display: flex;
    position: absolute;
    margin-left: 860px;
    width: 40%;
    height: 12%;
    top: 36%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Shopping p.tre {
    display: flex;
    position: absolute;
    margin-left: 860px;
    width: 40%;
    height: 15%;
    top: 81%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .History img {
    width: 100%;
    position: absolute;
}


main .History h2 {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 15%;
    height: 9%;
    top: 9%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-color: #4b4276;
    color: #fff;
}

main .History p {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 50%;
    height: 25%;
    top: 21%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Food {
    width: 100%;
    height: 1000px;
    position: relative;
    background: linear-gradient(110deg, #317297 60%, #153847 60%); 
}

main .Food h2 {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 12%;
    height: 10%;
    top: 9%;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-color: #4b4276;
    color: #fff;
}

main .Food p {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 30%;
    height: 12%;
    top: 21%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Food img {
    display: flex;
    position: absolute;
    width: 40%;
    height: 45%;
    margin-left: 800px;
    top: 9%;
    border: 10px solid #fff;
}

main .Sumo img {
    width: 100%;
    position: relative;
}

main .Sumo h2 {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 9%;
    height: 10%;
    top: 9%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    background-color: #4b4276;
    color: #fff;
}

main .Sumo p {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 33%;
    height: 20%;
    top: 21%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff; 
}

main .Credits {
    width: 100%;
    height: 1350px;
    background-color: grey;
}

main .Credits h2{
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 12%;
    height: 10%;
    top: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-color: #4b4276;
    color: #fff;
}

main .Credits p {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 17%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff; 
}

main .Credits p.två {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 27%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff; 
}

main .Credits p.tre {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 37%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff; 
}

main .Credits p.fyra {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 47%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff; 
}

main .Credits p.fem {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 57%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff; 
}

main .Credits p.sex {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 67%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff; 
}

main .Credits p.sju {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 77%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff; 
}

main .Credits p.åtta {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 87%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff; 
}

main .Credits p.nio {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 97%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff;
}

main .Credits p.tio {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 107%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff;
}

main .Credits p.elva {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 117%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff;
}

main .Credits p.tolv {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 127%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff;
}

main .Credits p.tretton {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 137%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff;
}

main .Credits p.fjorton {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 147%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff;
}

main .Credits p.femton {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 157%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff;
}

main .Credits p.sexton {
    display: flex;
    position: absolute;
    margin-left: 50px;
    width: 80%;
    height: 9%;
    top: 167%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    background-color: #4b4276;
    color: #fff;
}

main .Credits p a {
    text-decoration: none;
    color:blue;
}

